<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>mimiProject</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- 비밀번호 암호와 관련 필터 -->
  <filter>
    <filter-name>memberpassword</filter-name>
    <filter-class>member.filter.MemberPasswordFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>memberpassword</filter-name>
    <url-pattern>/memberenroll</url-pattern>
    <url-pattern>/memberlogin</url-pattern>
    <url-pattern>/memberpasswordcheck</url-pattern>
    <url-pattern>/memberupdate</url-pattern>
    <url-pattern>/memberupdatepassword</url-pattern>
  </filter-mapping>
  <!-- 비밀번호 암호와 관련 필터 끝 -->
</web-app>